*{
    box-sizing: border-box;
}

h1{font-size: 3em;}

h2{font-size: 2.4em;}

h3{font-size: 1.8em;}

p{font-size: 1.15em;}

ul{list-style: none;}

body{
    font-family:    Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

/*-------*/
/*botones*/
/*-------*/

button{
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: #710D2A;
    background-color: bisque;
}

button:hover{
    background-color: tan;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{color:#710D2A}

/*-------*/
/*CABEZAL*/
/*-------*/

header{
    background-color: rgba(255, 228, 196, 0.637);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #710D2A;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a:hover{
    color: #b30f3e;
}
/*--------*/
/*-INICIO-*/
/*--------*/

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(fotos/hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center,center;
}

/*--------------*/
/*-PRESENTACION-*/
/*--------------*/

#somos-michela{
    text-align: center;
    padding: 200px 12px;
}

/*-------------*/
/*--PRODUCTOS--*/
/*-------------*/

#nuestro-productos{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestro-productos .container{
    padding: 100px 0px;
}

#nuestro-productos h2{
    margin-top: 0;
}

#nuestro-productos p{
    display: none;
}

#nuestro-productos .carta{
    background-position: center, center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(fotos/desayuno-completo.jpeg);
}
 
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(fotos/marquise.jpeg);
}

.carta:last-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(fotos/3er.jpeg);
}

/*-------------------*/
/*--CARACTERISTICAS--*/
/*-------------------*/

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

/*------------------*/
/*--HACE TU PEDIDO--*/
/*------------------*/

#pedido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}


/*----------*/
/*--FOOTER--*/
/*----------*/

footer{
    background-color: RGB(230,230,230);
}

footer p{
    margin: 0;
    color: rgb(100, 100, 100);
    padding: 12px;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #somos-michela{
        padding-top: 50px;
        height: 800px;
        background-color: bisque;
    }

    #somos-michela .container{
        display: flex;

    }

    #somos-michela img{
        height: 600px;
        padding: 25px;
        border-radius: 15%;
    }

    #somos-michela .img-container{
        background-image: linear-gradient(
        0deg,
        rgba(255,255,255,0.0000000001),
        rgba(0,0,0,0.5)
        ), url(fotos/mini-marquise.jpeg);
        background-size: cover;
        background-position: center center;
        height: 600px;
        width: 1100px;
        border-radius: 15px;
    }


}
